.Layout_invite {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #efebe9;
  align-items: center;
  padding-top: 40px;
}

.send_invite {
  padding-left: 22px;
  margin-bottom : 60px;
  width: 100%;
  color: #000;
  font-size: 20px;
  margin-bottom: 12px;
}

.share {
  display: flex;
  width: 90%;
  height: 40px;
  background-color: #fff;
  font-size: 20px;
  border-radius: 8px;
  align-items: center;
}

.textBox {
  width : 800px;
  height : 40px;
  padding-top : 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
