.login {
    display : flex;
    flex-direction : column;
    box-sizing : border-box;
    width : 100%;
    height : calc(100vh - 70px);
    background-color : #EFEBE9;
    padding : 20% 6% 20% 6%;
}

.login > h2 {
    margin-bottom : -10px;
    font-weight : 400;
}

.login > p {
    color : #9CA3AF;
    margin-bottom : 20px;
}

.login > .input {
    box-sizing : border-box;
    width : 100%;
    border : none;
    display : flex;
    flex-direction : column;
    gap : 10px;
    margin-bottom : 30px;
}

.input > input {
    padding-left : 10px;
    border : 1px solid #D9D9D9;
    height : 46px;
    border-radius: 8px;
    font-size : 16px;
}

.input > input::placeholder {
    color : #A5ADBD;
    align-items : center;
}

.login > img {
    margin-left : auto;
}