.Layout {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #efebe9;
  align-items: center;
  justify-content: center;
}


.title {
  display: flex;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.content {
  display: flex;
  font-size: 16px;
}

.puzzlelayout {
  position: relative;
  width: 320px;
  height: 280px;
  background-size: cover;
}

img {
  position: absolute;
  box-shadow: none; /* 그림자 제거 */
}

.img1 {
  top: 0;
  left: 0;
  width: 97px;
  height: 99px;
  opacity: 0.3;
}
.img2 {
  top: 0px;
  left: 80px;
  width: 99px;
  height: 82px;
  opacity: 0.3;
}
.img3 {
  top: 0px;
  left: 160px;
  width: 84px;
  height: 99px;
  opacity: 0.3;
}
.img4 {
  top: 0px;
  left: 224px;
  width: 97px;
  height: 82px;
  opacity: 0.3;
}

.img5 {
  top: 80px;
  left: 0px;
  width: 82px;
  height: 100px;
  opacity: 0.3;
}
.img6 {
  top: 65px;
  left: 65px;
  width: 100px;
  height: 102px;
  opacity: 0.3;
}

.img7 {
  top: 80px;
  left: 145px;
  width: 98px;
  height: 100px;
  opacity: 0.3;
}
.img8 {
  top: 20px;
  left: 258px;
  width: 97px;
  height: 102px;
  opacity: 0.3;
}

.img9 {
  top: 414px;
  left: 35px;
  width: 97px;
  height: 84px;
  opacity: 0.1;
}

.img10 {
  top: 399px;
  left: 113px;
  width: 99px;
  height: 100px;
  opacity: 0.1;
}

.img11 {
  top: 414px;
  left: 192px;
  width: 99px;
  height: 85px;
  opacity: 0.1;
}

.img12 {
  top: 399px;
  left: 275px;
  width: 80px;
  height: 100px;
  opacity: 0.1;
}

.button_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
  object-position: center;
}