.Layout {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #efebe9;
  align-items: center;
  justify-content: center;
}

.memo {
  margin-bottom: 120px;
  width: 80%;
}

.title {
  display: flex;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.content {
  display: flex;
  font-size: 16px;
}

.puzzlelayout {
  position: relative;
  width: 90%;
  height: 244px; /* 전체 퍼즐 높이 */
}

img {
  position: absolute; /* 각 이미지를 절대 위치로 배치 */
  box-shadow: none; /* 그림자 제거 */
}

.img1 {
  position: fixed;
  top: 252px;
  left: 36px;
  width: 97px;
  height: 99px;
}
.img2 {
  position: fixed;
  top: 252px;
  left: 113px;
  width: 99px;
  height: 82px;
}
.img3 {
  position: fixed;
  top: 252px;
  left: 193px;
  width: 84px;
  height: 99px;
}
.img4 {
  position: fixed;
  top: 252px;
  left: 258px;
  width: 97px;
  height: 82px;
}

.img5 {
  position: fixed;
  top: 334px;
  left: 36px;
  width: 82px;
  height: 100px;
}
.img6 {
  position: fixed;
  top: 317px;
  left: 98px;
  width: 100px;
  height: 102px;
}
.img7 {
  position: fixed;
  top: 334px;
  left: 177px;
  width: 98px;
  height: 100px;
}
.img8 {
  position: fixed;
  top: 317px;
  left: 258px;
  width: 97px;
  height: 102px;
}

.img9 {
  position: fixed;
  top: 414px;
  left: 35px;
  width: 97px;
  height: 84px;
}

.img10 {
  position: fixed;
  top: 399px;
  left: 113px;
  width: 99px;
  height: 100px;
}

.img10 {
  position: fixed;
  top: 399px;
  left: 113px;
  width: 99px;
  height: 100px;
}

.img11 {
  position: fixed;
  top: 414px;
  left: 192px;
  width: 99px;
  height: 85px;
}

.img12 {
  position: fixed;
  top: 399px;
  left: 275px;
  width: 80px;
  height: 100px;
}

button {
  display: flex;
  width: 80%;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #5d4037;
  color: #fff;
  font-size: 20px;
}
